/* .cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;

} */

.cart .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}